<!DOCTYPE html>
<html>
<title>DPY!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
</style>
<body class="w3-content" style="max-width:1300px">

<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>Registrarse como Dueño de Cancha</h1>

    </div>
    <div class="w3-padding-64">

    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>Registrarse como Jugador</h1>
      {% block content %}
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <label>Nombre</label>
              <input class="form-control" type="text" name="nombre">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <label>Usuario</label>
              <input class="form-control" type="text" name="usuario">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <label>Telefono</label>
              <input class="form-control" type="text" name="telefono">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <label>Direccion</label>
              <input class="form-control" type="text" name="direccion">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <label>Tipo de cancha</label>
              <input class="form-control" type="text" name="tipodecancha">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <label>Precio</label>
              <input class="form-control" type="text" name="precio">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
              <button class="btn btn-primary" type="submit" >Registrarse</button>
            </div>
          </div>
        </div>
      </form>
      {% endblock %} 
      <div class="w3-left-align w3-padding-large">
      </div>
    </div>
  </div>
</div>

</body>
</html>
