<html>
	<head>
    <link rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
	
  </head>
  
  <style> 
  body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  font-size: 2rem;
}

.master-brand{
  text-align: center;
}

}
  </style>
	<body>
    
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">PartidoYa!</h3>
              <li><a href="">User : {{ user|upper }}</a></li>
              <nav class="nav nav-masthead">
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Arma un partido !</h1>
            <p class="lead">PartidoYa! es la forma mas facil y rapida de organizar un partido de futbol con tus amigos !</p>
            <p class="lead">
              <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">Inicie Sesion</a>
              <a href="{% url 'register' %}" class="btn btn-lg btn-secondary">Registrese</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Alvarez - Velazquez - Pigliacampo <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>